@import "../../style/spacing";
@import "../../style/border";
@import "../../style/colors";
@import "../../style/typography";

.git-auth {
    p {
        margin: 0;
    }
}

.git-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
        margin-top: spacing();
    }
    > div:last-child {
        margin-top: spacing();
        display: flex;
        flex-direction: row-reverse;
        button {
            flex: 1;
        }
    }
}

.github-device-flow {
    li {
        margin-top: spacing(3);
        > .code,
        > a {
            display: flex;
            margin-top: spacing();
            text-decoration: none;
        }
    }
}
