@import "../../style/spacing";
@import "../../style/border";
@import "../../style/colors";
@import "../../style/typography";
@import "../../style/breakpoints";

$top-bar-height: 45px;
$left-sidebar-width: 270px;
$tabs-height: 29px;
$console-height: 300px;
$transition: 0.3s all;

.project {
    height: 100dvh;

    > .top-bar {
        position: fixed;
        height: $top-bar-height;
        top: 0;
        left: 0;

        background-color: $blue-dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;

        z-index: 1;

        > div {
            display: flex;
            align-items: center;
            &:first-child {
                justify-content: flex-start;
                max-width: calc(100% - 128px);
                h3 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &:last-child {
                justify-content: flex-end;
            }
        }
    }
    > .left-sidebar {
        position: fixed;
        top: $top-bar-height;
        left: 0;
        width: $left-sidebar-width;
        height: calc(100% - $top-bar-height);
        z-index: 1;
        background-color: $blue-dark;

        transition: $transition;
    }
    > .tabs-container {
        position: fixed;
        left: $left-sidebar-width;
        top: $top-bar-height;
        height: $tabs-height;
        width: calc(100% - $left-sidebar-width);
        z-index: 1;
        background-color: $black;

        border-top-left-radius: 10px;
        border-bottom: 1px solid colorOpacity(white, 0.2);

        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        li {
            display: inline-flex;
            align-items: center;
            padding-left: spacing(1);
            border-bottom: 0;
            cursor: pointer;
            color: colorOpacity(white, 0.6);
            border-right: 1px solid colorOpacity(white, 0.15);
            height: 100%;
            &.has-errors {
                border-bottom: 2px solid colorOpacity($red, 0.7);
            }
            &.active {
                color: white;
                &.has-errors {
                    border-bottom: 4px solid $red;
                }
            }
        }

        transition: $transition;
    }
    > .editor-container {
        position: relative;
        top: $top-bar-height + $tabs-height;
        left: $left-sidebar-width;
        min-height: calc(100% - ($top-bar-height + $tabs-height));
        width: calc(100% - $left-sidebar-width);
        background-color: $black;

        transition: $transition;
    }

    .console {
        position: fixed;
        bottom: 0;
        left: $left-sidebar-width;
        width: calc(100% - $left-sidebar-width);
        height: 0;

        button {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: rotate(180deg);
        }

        transition: $transition;
    }

    &.side-panel-closed {
        > .left-sidebar {
            width: 0px;
        }

        > .editor-container,
        > .tabs-container,
        > .console {
            left: 0;
            width: 100%;
        }
    }

    &.console-opened {
        > .console {
            height: $console-height;

            button {
                transform: rotate(0);
            }
        }
        > .editor-container {
            padding-bottom: $console-height;
        }
    }

    .dialog {
        dl {
            dd,
            div {
                font-size: $font-size-s;
                color: colorOpacity(white, 0.7);
            }

            div {
                text-align: right;

                &:not(:last-child) {
                    padding-bottom: spacing(2);
                    border-bottom: $border-width solid $dark;
                    margin-bottom: spacing(2);
                }
            }
        }
    }

    .git-btn {
        position: relative;
        display: grid;
        grid-template-areas:
            "icon branch"
            "icon commit";
        text-align: left;
        grid-template-columns: 32px auto;
        @media screen and (max-width: $break-sm) {
            grid-template-columns: 24px auto;
        }
        svg {
            grid-area: icon;
            margin: 0 !important;
        }
        > .branch {
            grid-area: branch;
            margin-top: -4px;
            @media screen and (max-width: $break-sm) {
                display: none;
            }
        }
        > .commit {
            grid-area: commit;
            font-size: $font-size-s;
            margin-top: -2px;
            margin-bottom: -3px;
            opacity: 0.8;
            @media screen and (max-width: $break-sm) {
                display: none;
            }
        }

        .push,
        .pull,
        .alert {
            position: absolute;
            z-index: 1;
            left: 30px;
            height: 20px;
            top: 5px;
            svg {
                height: 100%;
                width: 100%;
            }
        }

        .pull {
            transform: rotate(45deg);
            color: $green;
        }

        .push {
            transform: rotate(225deg);
            color: $red;
        }

        .alert {
            background-color: colorOpacity($red, 0.2);
            border-radius: 50%;
            color: $red;
            left: 32px;
            top: 3px;
            height: 16px;
            width: 16px;
        }
    }

    .git-dialog {
        header {
            display: grid;
            grid-template-columns: 45px auto;
            grid-template-areas:
                "icon url"
                "icon branch"
                "icon commit";

            > svg {
                grid-area: icon;
                align-self: center;
                height: 32px;
                width: 32px;
            }
            > a {
                grid-area: url;
                color: colorOpacity(white, 0.7);
                font-size: $font-size-s;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                    color: colorOpacity(white, 1);
                }
            }
            > div:nth-child(3) {
                grid-area: branch;
            }
            > div:last-child {
                grid-area: commit;
                font-size: $font-size-s;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        > .author {
            display: flex;
            font-size: $font-size-s;
            grid-template-columns: 45px auto 45px;
            background-color: colorOpacity(white, 0.1);
            margin: spacing() 0;
            padding: spacing();
            border-radius: $border-radius;
            border: $border-width solid colorOpacity(white, 0.3);
            > svg {
                align-self: center;
                justify-self: center;
                margin-right: spacing();
            }
            > *:nth-child(2) {
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                text-overflow: ellipsis;
                > input {
                    margin-bottom: spacing();
                }
            }
            form {
                > p {
                    svg {
                        color: $red;
                        vertical-align: middle;
                        height: 18px;
                        width: 18px;
                    }
                    margin-top: 0;
                    display: flex;
                    align-items: center;
                    gap: spacing(0.5);
                }
                > div:last-child {
                    display: flex;
                    flex-direction: row-reverse;
                    > * {
                        flex: 1;
                    }
                }
            }
        }

        > .changes {
            display: flex;
            flex-direction: column;
            padding: spacing() 0;
        }
        > div:last-child {
            display: flex;
            justify-content: space-between;
        }
    }
}
