@import "../../style/spacing";

.git-auth {
    p {
        margin: 0;
    }
}


.git-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
        margin-top: spacing();
    }
    > div:last-child {
        margin-top: spacing();
        display: flex;
        flex-direction: row-reverse;
        button {
            flex: 1
        }
    }
}