@import "../../style/spacing";
@import "../../style/border";
@import "../../style/colors";
@import "../../style/typography";

.peers {
    @include full-width();

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            margin: 0;
        }
        margin-bottom: spacing();
        > div:first-child {
            display: flex;
            align-items: center;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            background-color: colorOpacity(white, 0.1);
            display: flex;
            border-radius: $border-radius;
            padding: spacing();
            justify-content: space-between;
            align-items: center;
            margin-bottom: spacing();
            min-height: 60px;
        }
    }
}

#manual-peer-pairing {

    input {
        margin: spacing() 0;
        width: 100%;
    }

    .button-group {
        display: flex;
        justify-content: space-between;
        button {
            flex: 1
        }
    }

    .net-infos {
        > div {
            display: flex;
            background-color: colorOpacity(white, 0.1);
            margin: spacing() 0;
            padding: spacing();
            border-radius: $border-radius;
            border: $border-width solid colorOpacity(white, 0.3);
            gap: spacing();

            dl {
                margin: 0;
                dt {
                    font-weight: $font-weight-bold;
                }
                dd {
                    margin: 0;
                    ul {
                        padding: 0;
                    }

                    &:not(:last-child) {
                        padding-bottom: spacing(0.5);
                    }
                }
            }
        }
        
    }
}

#peer-connection-request-dialog {
    text-align: center;

    .button-group {
        display: flex;

        > button {
            flex: 1;
        }
    }

    .code {
        padding: spacing(2) 0;
    }
}