@import "../../style/spacing";
@import "../../style/border";
@import "../../style/colors";
@import "../../style/typography";

.peers {
    @include full-width();

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            margin: 0;
        }
        margin-bottom: spacing();
        > div:first-child {
            display: flex;
            align-items: center;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            background-color: colorOpacity(white, 0.1);
            display: flex;
            border-radius: $border-radius;
            padding: spacing();
            justify-content: space-between;
            align-items: center;
            margin-bottom: spacing();
        }
    }
}

#manual-peer-pairing {

    input {
        margin: spacing() 0;
        width: 100%;
    }

    .button-group {
        display: flex;
        justify-content: space-between;
        button {
            flex: 1
        }
    }
}