[submodule "lib/esbuild"]
	path = lib/esbuild
	url = https://github.com/evanw/esbuild.git
[submodule "editor-sample-demo"]
	path = editor-sample-demo
	url = https://github.com/fullstackedorg/editor-sample-demo.git
[submodule "lib/TypeScript"]
	path = lib/TypeScript
	url = https://github.com/cplepage/TypeScript.git
[submodule "lib/go"]
	path = lib/go
	url = https://github.com/golang/go.git
