build
dist
node_modules
out
demo

editor/views/project/prettier/plugin-liquid.js

**/*.cache
platform/**/editor

platform/android/studio/.gradle
platform/android/studio/.idea
platform/android/studio/app/.cxx
platform/android/studio/app/build
platform/android/studio/app/release

platform/docker/package

platform/electron/js

platform/apple/*.xcarchive
platform/apple/pkg*
platform/apple/FullStacked.xcodeproj/xcshareddate
platform/apple/FullStacked.xcodeproj/xcuserdata

platform/windows