lib
build
dist
node_modules
out
editor-sample-demo

**/*.cache
platform/**/editor

platform/android/studio/.gradle
platform/android/studio/.idea
platform/android/studio/app/.cxx
platform/android/studio/app/build
platform/android/studio/app/release

platform/docker/package

platform/electron/js

platform/apple/*.xcarchive
platform/apple/pkg*
platform/apple/FullStacked.xcodeproj/xcshareddate
platform/apple/FullStacked.xcodeproj/xcuserdata


: && /Users/cplepage/Library/Android/sdk/ndk/26.3.11579264/toolchains/llvm/prebuilt/darwin-x86_64/bin/clang++ --target=aarch64-none-linux-android29 --sysroot=/Users/cplepage/Library/Android/sdk/ndk/26.3.11579264/toolchains/llvm/prebuilt/darwin-x86_64/sysroot -fPIC -g -DANDROID -fdata-sections -ffunction-sections -funwind-tables -fstack-protector-strong -no-canonical-prefixes -D_FORTIFY_SOURCE=2 -Wformat -Werror=format-security   -fno-limit-debug-info  -static-libstdc++ -Wl,--build-id=sha1 -Wl,--no-rosegment -Wl,--no-undefined-version -Wl,--fatal-warnings -Wl,--no-undefined -Qunused-arguments -shared -Wl,-soname,libeditor-core.so -o /Users/cplepage/editor/platform/android/studio/app/build/intermediates/cxx/Debug/e297186r/obj/arm64-v8a/libeditor-core.so CMakeFiles/editor-core.dir/bridge.cpp.o  -landroid  /Users/cplepage/editor/platform/android/studio/app/src/main/cpp/core/lib/android-arm64-v8a.so  -llog  -latomic -lm && :
: && /Users/cplepage/Library/Android/sdk/ndk/26.3.11579264/toolchains/llvm/prebuilt/darwin-x86_64/bin/clang++ --target=aarch64-none-linux-android29 --sysroot=/Users/cplepage/Library/Android/sdk/ndk/26.3.11579264/toolchains/llvm/prebuilt/darwin-x86_64/sysroot -fPIC -g -DANDROID -fdata-sections -ffunction-sections -funwind-tables -fstack-protector-strong -no-canonical-prefixes -D_FORTIFY_SOURCE=2 -Wformat -Werror=format-security   -fno-limit-debug-info                                                                                                                                                 -shared -Wl,-soname,libeditor-core.so -o /Users/cplepage/editor/platform/android/studio/app/build/intermediates/cxx/Debug/e297186r/obj/arm64-v8a/libeditor-core.so CMakeFiles/editor-core.dir/bridge.cpp.o  -landroid  /Users/cplepage/editor/platform/android/studio/app/src/main/cpp/core/lib/android-arm64-v8a.so  -llog  -latomic -lm && :
