lib
build
dist
node_modules
out
editor-sample-demo

**/*.cache
platform/**/editor

platform/android/studio/.gradle
platform/android/studio/.idea
platform/android/studio/app/.cxx
platform/android/studio/app/build
platform/android/studio/app/release

platform/docker/package

platform/electron/js

platform/ios/FullStacked.xcarchive
platform/ios/pkg
platform/ios/xcode/FullStacked.xcodeproj/xcshareddate
platform/ios/xcode/FullStacked.xcodeproj/xcuserdata
