// 1/1 ratio source : https://stackoverflow.com/a/6615994
.loader {
    width: 100%;
    display: inline-block;
    position: relative;
    > div:first-child {
        margin-top: 100%;
    }
    > div:last-child {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        > svg {
            animation: spin 1s infinite linear;
        }
    }
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
