@use "../style/values/spacing.scss";

.popover {
    position: absolute;
    z-index: 11;
    padding: spacing.$x-small;

    &.center-x {
        transform: translateX(-50%);
    }
    &.center-x.center-y {
        transform: translate(-50%, -50%);
    }
    &.center-x.bottom {
        transform: translate(-50%, -100%);
    }

    &.right {
        transform: translateX(-100%);
    }
    &.right.center-y{
        transform: translate(-100%, -50%);
    }
    &.right.bottom{
        transform: translate(-100%, -100%);
    }

    &.center-y {
        transform: translateY(-50%);
    }

    &.bottom {
        transform: translateY(-100%);
    }
}

.popover-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
