@use "../style/values/spacing.scss";

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% + spacing.$medium);
    margin-left: 0 - spacing.$medium;
    &.no-back {
        width: 100%;
        margin-left: 0;
    }

    > div:first-child {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .titles {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    > div:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: spacing.$small;
    }
}
