/* 
This file must follow the figma local color styles
https://www.figma.com/design/xb3JBRCvEWpbwGda03T5QQ/Mockups
*/
@use "sass:color";

$blue-accent: #04b8ec;
$blue: #007aff;
$blue-dark: #1e293b;
$dark: #15171b;
$red: #ff453a;
$green: #30d158;
$yellow: #ffcc00;
$light: #ffffff;
$gray: #8c929b;
$gray-dark: #404958;
$overlay: #15171b99;

@function opacity($color, $opacity) {
    @return rgba(
        color.channel($color, "red", $space: rgb),
        color.channel($color, "green", $space: rgb),
        color.channel($color, "blue", $space: rgb),
        calc($opacity / 100)
    );
}
