/* 
This file must follow the figma local text styles
https://www.figma.com/design/xb3JBRCvEWpbwGda03T5QQ/Mockups
*/
$heading-1: 36px;
$heading-2: 30px;
$heading-3: 24px;
$medium: 16px;
$small: 12px;
$x-small: 9px;

$fonts:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
