$blue: rgb(0, 122, 255);
$blue-active: rgb(25, 108, 197);

$red: #FF453A;

$blue-dark: #1e293b;
$dark: #15171b;

@function colorOpacity($color, $opacity) {
    @return rgba(red($color), green($color), blue($color), $opacity);
}