@import "../../style/spacing";
@import "../../style/border";
@import "../../style/colors";
@import "../../style/typography";
@import "../../style/breakpoints";

$top-bar-height: 45px;
$left-sidebar-width: 270px;
$tabs-height: 29px;
$console-height: 300px;
$transition: 0.3s all;

.navigating .tabs-container {
    overflow-x: hidden !important;
}

.project {
    height: 100dvh;

    > .top-bar {
        position: fixed;
        height: $top-bar-height;
        top: 0;
        left: 0;

        background-color: $blue-dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;

        z-index: 1;

        > div {
            display: flex;
            align-items: center;
            &:first-child {
                justify-content: flex-start;
                max-width: calc(100% - 192px);
                h3 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &:last-child {
                justify-content: flex-end;
            }
        }
    }
    > .left-sidebar {
        position: fixed;
        top: $top-bar-height;
        left: 0;
        width: $left-sidebar-width;
        height: calc(100% - $top-bar-height);
        z-index: 1;
        background-color: $blue-dark;

        transition: $transition;
    }
    > .tabs-container {
        position: fixed;
        left: $left-sidebar-width;
        top: $top-bar-height;
        height: $tabs-height;
        width: calc(100% - $left-sidebar-width);
        z-index: 1;
        background-color: $black;

        border-top-left-radius: 10px;
        border-bottom: 1px solid colorOpacity(white, 0.2);

        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        li {
            display: inline-flex;
            align-items: center;
            padding-left: spacing(1);
            border-bottom: 0;
            cursor: pointer;
            color: colorOpacity(white, 0.6);
            border-right: 1px solid colorOpacity(white, 0.15);
            height: 100%;
            &.has-errors {
                border-bottom: 2px solid colorOpacity($red, 0.7);
            }
            &.active {
                color: white;
                &.has-errors {
                    border-bottom: 4px solid $red;
                }
            }
        }

        transition: $transition;
    }
    > .editor-container {
        position: relative;
        top: $top-bar-height + $tabs-height;
        left: $left-sidebar-width;
        min-height: calc(100% - ($top-bar-height + $tabs-height));
        width: calc(100% - $left-sidebar-width);
        background-color: $black;

        transition: $transition;
    }

    .console {
        position: fixed;
        bottom: 0;
        left: $left-sidebar-width;
        width: calc(100% - $left-sidebar-width);
        height: 0;

        button {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: rotate(180deg);
        }

        transition: $transition;
    }

    &.side-panel-closed {
        > .left-sidebar {
            width: 0px;
        }

        > .editor-container,
        > .tabs-container,
        > .console {
            left: 0;
            width: 100%;
        }
    }

    &.console-opened {
        > .console {
            height: $console-height;

            button {
                transform: rotate(0);
            }
        }
        > .editor-container {
            padding-bottom: $console-height;
        }
    }
}

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}
#typescript-icon {
    &.loading {
        animation: flash 1s infinite alternate;
    }
}
