@use "../values/typography.scss";

html,
body {
    font-family: typography.$fonts;

    // default is Medium font size
    font-size: typography.$medium;
}

h1 {
    font-size: typography.$heading-1;
}

h2 {
    font-size: typography.$heading-2;
}

h3 {
    font-size: typography.$heading-3;
}

label {
    font-size: typography.$small;
    font-weight: bold;
}

small {
    font-size: typography.$small;
}

.font-x-small {
    font-size: typography.$x-small;
}

a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}
