@use "../style/values/spacing.scss";
@use "../style/values/colors.scss";

.esbuild-installer {
    h3 {
        padding-bottom: spacing.$small;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: spacing.$small;

        li {
            background-color: colors.$gray-dark;
            border: 1px solid colors.$gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: spacing.$small;
            border-radius: spacing.$x-small;

            position: relative;

            .progress {
                background-color: colors.$blue;
                height: spacing.$x-small;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}