@import "../../style/spacing";
@import "../../style/border";
@import "../../style/colors";


.project {
    display: grid;
    grid-template-areas: 'toolbar toolbar'
        'file-tree editor';

    transition: 0.5s all;
    grid-template-columns: minmax(300px, 33.3333%) calc(100% - 300px);
    &.side-panel-closed {
        grid-template-columns: minmax(0px, 0%) 100%;
    }

    > div:first-child {
        grid-area: toolbar;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
            display: flex;
            align-items: center;
            &:first-child {
                justify-content: flex-start;
            }
            &:last-child {
                justify-content: flex-end;
            }
        }
    }
    > div:nth-child(2) {
        grid-area: file-tree;
        padding-right: spacing();
    }
    > div:nth-child(3) {
        grid-area: editor;
        ul {
            padding: 0;
            margin: 0;
            white-space: nowrap;
            width: 100%;
            overflow: auto;
            li {
                border: $border-width solid colorOpacity(white, 0.2);
                border-top-right-radius: $border-radius;
                border-top-left-radius: $border-radius;
                border-collapse: collapse;
                display: inline-flex;
                align-items: center;
                padding-left: spacing(1);
                border-bottom: 0;
                cursor: pointer;
                &:not(:first-child){
                    border-left: 0;
                }
                &.active {
                    background-color: colorOpacity(white, 0.1);
                }
            }
        }
    }
}