/* 
This file must follow the figma design
https://www.figma.com/design/xb3JBRCvEWpbwGda03T5QQ/Mockups?node-id=101-1212
*/
@use "../../style/new/values/colors.scss";
@use "../../style/new/values/spacing.scss";

.badge {
    color: colors.$light;
    background-color: colors.opacity(colors.$gray, 50);
    border-radius: spacing.$x-small;
    padding: spacing.$x-small spacing.$small;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.success {
        background-color: colors.opacity(colors.$green, 50);
    }
    &.warning {
        background-color: colors.opacity(colors.$yellow, 50);
    }
    &.error {
        background-color: colors.opacity(colors.$red, 50);
    }
    &.info {
        background-color: colors.opacity(colors.$blue-accent, 50);
    }
    &.info-2 {
        background-color: colors.opacity(colors.$blue, 50);
    }
}
