/* 
This file must follow the figma design
https://www.figma.com/design/xb3JBRCvEWpbwGda03T5QQ/Mockups?node-id=6-67
*/
@use "sass:color";
@use "../../style/values/typography.scss";
@use "../../style/values/colors.scss";
@use "../../style/values/spacing.scss";

button {
    font-weight: bold;
    font-size: typography.$medium;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: spacing.$x-small;

    padding: 7px spacing.$small;
    border-radius: spacing.$x-small;
    background-color: colors.$blue;
    color: colors.$light;
    border: 0;

    cursor: pointer;

    .icon {
        height: 20px;
        width: 20px;
    }

    &:active {
        background-color: color.scale(colors.$blue, $lightness: -30%);
    }

    &.red {
        background-color: colors.$red;

        &:active {
            background-color: color.scale(colors.$red, $lightness: -30%);
        }
    }

    &:disabled {
        background-color: colors.$gray;
        color: colors.opacity(colors.$light, 70);
        cursor: default;
    }

    &.text,
    &.icon-small,
    &.icon-large {
        background-color: transparent;
        color: colors.$blue;

        &:active {
            background-color: colors.$gray-dark;
        }

        &:disabled {
            color: colors.$gray;
            background-color: transparent;
        }
    }

    &.icon-small,
    &.icon-large {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    &.icon-small {
        height: 24px;
        width: 24px;

        .icon {
            height: 20px;
            width: 20px;
        }
    }

    &.icon-large {
        height: 38px;
        width: 38px;

        .icon {
            height: 30px;
            width: 30px;
        }
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    background-color: colors.$dark;
    border-radius: spacing.$x-small;
    overflow: hidden;

    button {
        background-color: transparent;
        border-radius: 0;
        justify-content: flex-start;

        &:not(:last-child) {
            border-bottom: 1px solid colors.$gray;
        }

        &.red {
            color: colors.$red;
        }

        &:active {
            background-color: colors.$gray-dark;
        }
    }
}
