@import "../../style/colors";
@import "../../style/spacing";

.editor {
    .img-container {
        background-color: $black;
        padding: spacing();
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
}