/* 
All styles follows the official figma design file
https://www.figma.com/design/xb3JBRCvEWpbwGda03T5QQ/Mockups
*/

// globals
@import "./style/globals/colors.scss";
@import "./style/globals/spacing.scss";
@import "./style/globals/typography.scss";
@import "./style/globals/input.scss";
@import "./style/globals/list.scss";
@import "./style/globals/winbox.scss";

// components
@import "./components/primitives/badge.scss";
@import "./components/primitives/button.scss";
@import "./components/primitives/icon.scss";
@import "./components/primitives/inputs.scss";
@import "./components/top-bar.scss";
@import "./components/view-scrollable.scss";
@import "./components/popover.scss";
@import "./components/loader.scss";
@import "./components/dialog.scss";
@import "./components/message.scss";
@import "../lib/components/snackbar.scss";

// views
@import "./views/projects/index.scss";
@import "./views/project-settings.scss";
@import "./views/add-project/index.scss";
@import "./views/settings/index.scss";
@import "./views/project/index.scss";
@import "./views/project/git/index.scss";
@import "./views/packages/index.scss";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
