/* 
All styles follows the official figma design file
https://www.figma.com/design/xb3JBRCvEWpbwGda03T5QQ/Mockups
*/
@use "./style/new/values/spacing.scss";

// globals
@import "./style/new/globals/colors.scss";
@import "./style/new/globals/spacing.scss";
@import "./style/new/globals/typography.scss";
@import "./style/new/globals/input.scss";
@import "./style/new/globals/list.scss";

// components
@import "./components/primitives/badge.scss";
@import "./components/primitives/button.scss";
@import "./components/primitives/icon.scss";
@import "./components/primitives/inputs.scss";
@import "./components/top-bar.scss";
@import "./components/view-scrollable.scss";
@import "./components/popover.scss";
@import "./components/loader.scss";
@import "./components/dialog.scss";
@import "./components/message.scss";

// views
@import "./views/new/projects.scss";
@import "./views/new/add-project/index.scss";
@import "./views/new/settings/index.scss";
@import "./views/new/peers/index.scss";
@import "./views/new/project/index.scss";
@import "./views/new/project/git/index.scss";
@import "./views/new/packages/progress.scss";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
