@use "../../../style/new/values/spacing.scss";
@use "../../../style/new/values/colors.scss";
@use "../../../style/new/values/typography.scss";

#peers {
    .top-bar {
        padding-bottom: spacing.$small;
    }

    .peers-lists {
        padding-bottom: spacing.$small;

        width: 100%;
        max-width: spacing.$max-width;
        margin: 0 auto;

        padding-top: spacing.$small;

        display: flex;
        flex-direction: column;
        gap: spacing.$medium;

        ul {
            padding-top: spacing.$small;
            display: flex;
            flex-direction: column;
            gap: spacing.$small;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;

                background-color: colors.$gray-dark;
                border: 1px solid colors.$gray;
                border-radius: spacing.$x-small;
                padding: spacing.$small;

                > div {
                    display: flex;
                    align-items: center;
                    gap: spacing.$small;
                }
            }
        }
    }
}

.pairing-request {
    h3 {
        padding-bottom: spacing.$medium;
    }
    p:nth-child(2) {
        padding-bottom: spacing.$small;
    }
    p:nth-child(3) {
        padding-bottom: spacing.$medium;
    }

    code {
        font-size: typography.$heading-2;
        padding: spacing.$small;
        background-color: colors.$gray-dark;
        border: 1px solid colors.$gray;
        margin: 0 auto;
        font-family: inherit;
        display: block;
        width: max-content;
        border-radius: spacing.$x-small;
    }

    > div:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
