@import "../../style/spacing";
@import "../../style/colors";
@import "../../style/border";

.project-new {
    @include full-width();

    display: flex;
    flex-direction: column;

    > input,
    > .file-tree-view {
        margin-bottom: spacing(2);
    }

    > div:last-child {
        display: flex;
        justify-content: space-between;
    }

    .file-tree-view {
        max-height: 400px;
        overflow: auto;
        padding: spacing() spacing() 0;
        background-color: colorOpacity(white, 0.1);
        border-radius: $border-radius-l;
        border: $border-width solid colorOpacity(white, 0.2);

        .file-tree {
            padding-bottom: spacing();
        }
    }
}