@use "../../style/new/values/spacing.scss";
@use "../../style/new/values/colors.scss";

#peers {
    .top-bar {
        padding-bottom: spacing.$small;
    }

    .peers-lists {
        padding-bottom: spacing.$small;

        width: 100%;
        max-width: spacing.$max-width;
        margin: 0 auto;

        padding-top: spacing.$small;

        display: flex;
        flex-direction: column;
        gap: spacing.$medium;

        ul {
            padding-top: spacing.$small;
            display: flex;
            flex-direction: column;
            gap: spacing.$small;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;

                background-color: colors.$gray-dark;
                border: 1px solid colors.$gray;
                border-radius: spacing.$x-small;
                padding: spacing.$small;
            }
        }
    }
}
