$blue: rgb(0, 122, 255);
$blue-active: rgb(25, 108, 197);
$blue-light: #04b8ec;

$red: #ff453a;

$blue-dark: #1e293b;
$dark: #15171b;

$black: #282c34;

$green: #30d158;
$yellow: #ffcc00;

@function colorOpacity($color, $opacity) {
    @return rgba(red($color), green($color), blue($color), $opacity);
}
