@import "./colors";
@import "./typography";
@import "./spacing";
@import "./border";

label {
    display: block;
    margin-bottom: spacing(0.5);
    font-size: $font-size-s;
    font-weight: $font-weight-bold;
}

input {
    background-color: white;
    border-color: colorOpacity(white, 0.3);
    font-size: $font-size-m;
    padding: spacing(0.5);
    border-radius: $border-radius;
    border-width: $border-width;
    outline-offset: 0px;
    border-style: solid;

    &:focus {
        outline: 2px solid $blue;
    }
}

button {
    cursor: pointer;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    padding: spacing() spacing(2);
    border-radius: $border-radius;
    background-color: $blue;
    color: white;
    border: $border-width solid $blue;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        height: 24px;
        width: 24px;
    }

    &.text-and-icon {
        svg:last-child {
            margin-left: spacing(0.5);
        }

        svg:first-child {
            margin-right: spacing(0.5);
        }
    }

    &:disabled {
        background-color: darkgrey !important;
        border-color: darkgray !important;
        color: gray !important;
        cursor: default;

        &:active {
            background-color: darkgray !important;
        }
    }

    &:active {
        background-color: $blue-active;
    }

    &.secondary {
        background-color: colorOpacity(white, 0.1);
        border: 0;
    }

    &.small {
        font-size: $font-size-s;
        padding: spacing(0.5) spacing(1);

        & svg {
            height: 18px;
            width: 18px;
        }
    }

    &.danger {
        background-color: $red;
        border-color: $red;
    }

    &.text {
        color: $blue;
        border: 0;
        background: none;

        &.danger {
            color: $red;
        }

        &:hover {
            background-color: colorOpacity(white, 0.05);
        }

        &:disabled {
            background-color: transparent !important;
            border-color: transparent !important;
            cursor: default;

            &:active {
                background-color: transparent !important;
            }
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px $blue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
