$font-size-xs: 9px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-xl: 30px;
$font-size-xxl: 36px;

$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-black: 900;
