@import "../../style/spacing";
@import "../../style/colors";
@import "../../style/border";

.file-tree-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    white-space: nowrap;

    > div:first-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: spacing();

        label {
            margin: 0;
        }

        > button {
            margin: 0 spacing(0.25);
        }
    }
}

$item-height: 31px;

.file-tree {
    padding: 0;
    margin: 0;
    flex: 1;
    overflow: auto;

    ul {
        padding-left: spacing();
    }
    li {
        cursor: pointer;
        position: relative;
        z-index: 0;
        padding: 0 spacing(0.5);
        span {
            height: $item-height;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                display: none;
            }
        }
        &.selected {
            &::before {
                content: '';
                height: $item-height;
                width: 100%;
                background-color: $blue;
                position: absolute;
                z-index: -1;
                border-radius: $border-radius;
                left: 0;
                top: 0;
            }
            > span button {
                display: block;
            }
        }
    }
}