<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>editor.FullStacked</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fullstacked</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_fullstacked._tcp</string>
		<string>_fullstacked-ios._tcp</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleIconName</key>
	<string>FullStackedIcon</string>
</dict>
</plist>
