@import "../../style/colors";
@import "../../style/spacing";
@import "../../style/breakpoints";

.projects {
    @include full-width-xl();

    h1 {
        margin-bottom: 0;
    }

    > div {
        display: grid;
        gap: spacing(2);

        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media (max-width: $break-l) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: $break-m) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $break-s) {
            grid-template-columns: 1fr;
        }

        &:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: spacing(3);
            > div {
                display: flex;
                justify-content: flex-end;
            }
        }

        > article {
            cursor: pointer;
            background-color: colorOpacity(white, 0.1);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: colorOpacity(white, 0.5);
            aspect-ratio: 16 / 9;
            position: relative;
            > button {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}
