@import "../../style/colors.scss";
@import "../../style/spacing.scss";
@import  "../../style/breakpoints.scss";

.projects {
    margin: 0 auto;
    width: 100%;
    padding: spacing(4);
    display: grid;
    gap: spacing(2);
    max-width: 1400px;
    grid-auto-rows: min-content;

    grid-template-columns: auto auto auto auto;
    @media (max-width: $break-l) {
        grid-template-columns: auto auto auto;
    }
    @media (max-width: $break-m) {
        grid-template-columns: auto auto;
    }
    @media (max-width: $break-s) {
        grid-template-columns: auto;
    }

    > article {
        cursor: pointer;
        background-color: colorOpacity(white, 0.1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: colorOpacity(white, 0.5);
        aspect-ratio: 16 / 9;
    }
}