@import "../../style/colors";
@import "../../style/spacing";
@import  "../../style/breakpoints";

.projects {
    @include full-width-xl();

    > div {
        display: grid;
        gap: spacing(2);
        grid-auto-rows: min-content;
    
        grid-template-columns: auto auto auto auto;
        @media (max-width: $break-l) {
            grid-template-columns: auto auto auto;
        }
        @media (max-width: $break-m) {
            grid-template-columns: auto auto;
        }
        @media (max-width: $break-s) {
            grid-template-columns: auto;
        }
    
        > article {
            cursor: pointer;
            background-color: colorOpacity(white, 0.1);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: colorOpacity(white, 0.5);
            aspect-ratio: 16 / 9;
        }
    }

    
}